div{
	width:200px;
	height:200px;
	background:black;
}

span{
	width:200px;
	height:200px;
	background:darkgreen;
}
.to{
	width: 250px;
	background: red;
}
.aa{
	background: pink;
}
#one{
	background: yellow;
}
div div{
	width:100px;
	height:100px;
	background-color: blue;
	background-position: center;
}
