*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.share{
	width:1198px;
	height:425px;
	border:1px solid black;
	margin: 10px auto 0;
}
.share h3{
	width:100%;
	height:47px;
	border-bottom: 1px solid black;
}
.share h3 span{
	color: #0085d0;
	font-size: 14px;
	line-height: 46px;
	margin-left: 25px;
	float:left;
}
.share h3 a{
	color: #666;
	font-size: 12px;
	line-height: 46px;
	float: right;
	margin-right: 30px;
}
.share_bot{
	width: 100%;
	height: 377px;
	/*background: pink;*/
}
.share_bot_left{
	width: 299px;
	height: 377px;
	border-right: 1px solid black;
	float: left;
}
.share_bot_left img{
	width: 299;
	height: 377px;
}
.share_bot ul{
	width: 898px;
	height: 377px;
	/*background: green;*/
	float: left;
}
.share_bot ul li{
	width: 299px;
	height: 188px;
	/*background: yellow;*/
	float: left;
}
.share_bot ul .width{
	width: 298px;
}
.share_bot ul .bor_r{
	border-right: 1px solid black;
}
.share_bot ul .bor_d{
	border-bottom: 1px solid black;
}
.share_bot ul .gray{
	background: #efefef;
}
.share_bot ul li p{
	font-size: 18px;
	color: #333;
	margin-top: 10px;
	margin-left: 20px;
}
.share_bot ul li .pink{
	color:#e40077;
}

.share_bot ul li span{
	font-size: 14px;
	color: #666;
	margin-left: 20px;
}
.share_bot ul li img{
	margin-left: 75px;
	/*margin-bottom:60px;*/
}














